body{
    font: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin-top:20x;
    margin-left:20x;
    margin-right:20x;
 }
 
 h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
 
 }
h2{
    font-size: 30px;
    color: #0D0D0D;
 }
 p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
 }
 img {
    border: 10px;
    border-style: dashed;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    border-color: #ffffff;
}
div {
    border: 3px;
    border-color: #ffffff;
    min-height: 125px;
    padding: 20px;
}
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2.0;
}
.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}
.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
    border-color: #ffffff;
}
.blue header {
    color: #C4C4C4;
 }
.blue p {
    color: #C4C4C4;
 }
.yellow {
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-left: 5px;
    border-bottom: 2px;
}
.yellow p {
    color: #707070;
}
.green {
    background-color: #00D800;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}
footer {
    background: rgb(0,0,0);
    background: linear-gradient(94deg, rgba(0,0,0,1) 25%, rgba(0,0,255,1) 70%, rgba(0,102,255,1) 100%);
    border: 5px;
    border-style: none;
    border-color: #ffffff;
}
footer p {
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

